.orders-table td:nth-child(2),
.orders-table th:nth-child(2) {
	width: 150;
}

/* Make the font size smaller for the Phone and Address cells in each order row */
.orders-table tr td:nth-child(4),
/* Remove fixed font-size for Name, Phone, Address, Email cells to allow fitty.js to control it */


/* Slightly round the left and right corners of each row */
.orders-row .orders-cell:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.orders-row .orders-cell:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
/* Round the edges of each row */
.orders-row .orders-cell:first-child {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.orders-row .orders-cell:last-child {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
/* 1. Body */
body {
	background: #e5e5e5;
	font-family: Arial;
	color: #000042;
}

/* 2. Header */
.header {
	background: white;
	padding: 10px 20px;
	display: flex;
	align-items: center;
    height:13vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

}

/* 3. Logo */
.logo {
	width: 29%;
	margin-right: 15px;
}

/* 4. Orders Table */
.orders-table {
	width: 90%;
	min-width: 20px;
	max-width: 1200px;
	margin-top: 100px;
	border-collapse: separate;
	border-spacing: 0 5px;
	table-layout: auto;
}
.orders-table th,
.orders-table td {
    text-align: center;
    height: 11px;
}

/* 5. Orders Table Header (th) */
.orders-table th {
	background: white;
	color: #000042;
	/*border-radius: 0 0 0 0;*\
	
	text-align: center; /* <-- Center header text */
    height: 5vh;
}

.orders-table tr td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.orders-table tr td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* 6. Orders Table Data (td) */
.orders-table td {
	background: #9E2328;
	color: white;
	padding: 4px 4px 2px 2px;
	height: 32px;
	font-size: 0.8em;
	font-weight: bold;
	border: solid 1px #ffffff;
}

/* 7. Details Button */
.details-btn {
	background: #e5e5e5;
	color: #000042;
	border-radius: 12px;
	padding: 4px 16px;
	border: none;
	cursor: pointer;
}

/* 8. Email Button */
.email-btn {
	background: #9E2328;
	color: white;
	border-radius: 12px;
	padding: 4px 16px;
	border: none;
	cursor: pointer;
	margin-left: 8px;
}

/* 9. Email Header */
.email-header {
	color: green;
}
